* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.image {
  background-image: url('LTD.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2; /* ajusta la opacidad según tu preferencia */
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.books-container {
	display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;    
    align-items: baseline;
}

.book-box {
	display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 300px;
  min-height: 400px;
  width: 30vh;
  background-color: white;
  border-radius: 10px;
  /*box-shadow: 0 0px 9px rgba(0, 0, 0, 0.2);*/
  font-size: 1.8rem;
}

.book-box img {
  height: 46vh;
  background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
  background-repeat: no-repeat;
}

.book-box::before {
  content: "";
  margin-left: -1px;
  min-width: 301px;
  min-height: 400px;
  width: 30.2vh;
  height: 55%;
  position: absolute;
  background: linear-gradient(to top, rgba(255, 255, 255, 1.2), rgba(255, 255, 255, 0));
}

.book-box h2 {
  margin-top: -100px;
  text-align: center;
  font-size: 2.4rem;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 2;
}

.book-box a {	
	text-decoration: none;
	width: 100%;
	background: linear-gradient(to bottom, rgb(50 50 50 / 24%), rgb(255 255 255 / -1%));
    background-color: #a593a0;
    color: white;
	/*color: white;
    background-color: #f78847;*/
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.book-box p {
  margin: 20px;
  z-index: 2;
  font: 75%/1.3em "Open sans",Helvetica,Arial,sans-serif;
}

.enlace{
	width: 300px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.enlace-largo{
  height: 100px;
}

.enlace-largo a{
  height: 100%;
}

.enlaces{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: hidden;
}

.social-media {
  position: fixed;
  top: calc(50% - 100px);
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media a {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #222;
  color: #fff;
  text-align: center;
  line-height: 120px;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.social-media a:hover {
  background-color: #333;
}